---
import MainLayout from "../layout/MainLayout.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import SkillsSection from "../components/SkillsSection.astro";
import FooterSection from "../components/FooterSection.astro";
import ShowcaseSection from "../components/ShowcaseSection.astro";
---

<MainLayout>
  <div class="max-w-xl mx-auto">
    <HeaderTitle />
    <ExperienceSection />
  </div>
  <ProjectsSection />
  <div class="max-w-xl mx-auto">
    <ShowcaseSection />
    <SkillsSection />
    <AboutSection />
    <FooterSection />
  </div>
</MainLayout>
