<section id="about" class="mt-8 mb-6">
    <h1 class="text-center font-bold text-3xl mb-2">About Me</h1>

    <p>
        Hello! My name is Carlos Estrada, and I'm a passionate software developer with a strong background in full-stack development.
        My journey into coding began when I was 12-13 years old, and start my journey into coding small programs in c++,
        and it has evolved into a career where I thrive on building custom solutions and tackling complex challenges.
    </p>
    <br>
    <p>
        Currently, I work at Load Trail MX as a Software Developer, creating tailored software solutions for various departments across the company.
        Previously, I was a Full Stack Developer at Aplicaciones NG, where I was responsible for both front-end and back-end development.
        I also maintained legacy codebases and improved the UI for several of the company's projects.
    </p>
    <br>
    <p>
        My goal is to continue expanding my skills, work on innovative projects, and contribute to the tech community through sharing knowledge and experiences.
    </p>
</section>